body{
    background-image:URL("/img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -0%;
    background-attachment: fixed;
}
.container-transparente{
    background: #242222cc;
    width: 800px;
    height: 650px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center ;
    border-radius: 10px 10px 10px 10px;
    
 
}

.container-dati{
   width: 650px;
   height: 800px;
   text-align: center ;
   margin-left: 80px;
   margin-right: auto;
   
   
}
#logo{
    text-align: center;
    width: 150px;
    margin-top: 50px;
}

#logo-text{
    color: rgb(13, 212, 13);
    text-align: center;
    margin-top: -1px;
    margin-bottom: 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    
    
}

.navbar{
    background: rgb(13, 212, 13);
    width: auto;
    height: 35px;
    
}

#prenota{
    margin-top: 8px;
    text-align: center;
    width: 55px;
    font-size: 11px;


}
#termina-prenotazione{
    margin-top: 5px;
    text-align: center;
    font-size: 11px;
}
#Accendi-luci{
    margin-top: 5px;
    text-align: center;
    font-size: 11px;
}

.testo{
    text-align: left;
    margin-top: 15px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#checkbox{
    margin: 0;
    margin-left: 3px;
    margin-right: 3px;
}
.testo-con-entita-1{
    margin-top: 5px;
    margin-bottom: 5px;
}
.barra-di-carica1{
    background: rgb(243, 182, 14);
    width: 350px;
    height: 35px;
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
}

.barra-di-carica2{
    background: rgb(0, 212, 0);
    width: 550px;
    height: 35px;
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
}

.barra-di-carica3{
    background: rgb(184, 27, 27);
    width: 150px;
    height: 35px;
    margin-top: 5px;
    border-radius: 10px 10px 10px 10px;
}




